@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');
:root {
	--thema-width: min(90%, 1000px);
	--c-main: #359df7;
	--c-deep: #337ce5;
	--c-light: #edf2f7;
	--radius: 3em;
	--thema-shadow: 0px 3px 8px 0px rgba(0,0,0,.16);
	@media screen and (max-width: 800px) {
		--radius: 1em;
	}
}
* {box-sizing: border-box;}
html{width: 100%;position: relative;overflow-x: hidden;}
body {font-size: 10px;font-family: 'KleeOne-SemiBold';width: 100%;word-break: break-all;}
a {display: inline-block;text-decoration: none;color: inherit;}
a:hover {opacity: .8;transition-duration: .2s;cursor: pointer;}
img{width:100%;image-rendering:-webkit-optimize-contrast;/* Chreme hack */vertical-align:top;}
.flex,
.flexA,
.flexB,
.flexC {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap}
.flexA {-ms-flex-pack: distribute;justify-content: space-around}
.flexB {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between}
.flexC {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center}
.low2 {
	>li {
		width: 49%;
		margin: 0 1% 1% 0;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}
.low3 {
	>li {
		width: 32.33333%;
		margin: 0 1% 1% 0;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}
.low4 {
	>li {
		width: 15%;
		margin: 0 1% 1% 0;
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
}
.low5 {
	>li {
		width: 19%;
		margin: 0 1% 1% 0;
		&:nth-of-type(5n) {
			margin-right: 0;
		}
	}
}
.low6 {
	>li {
		width: 15%;
		margin: 0 1% 1% 0;
		&:nth-of-type(6n) {
			margin-right: 0;
		}
	}
}
table {
	table-layout: fixed;
	word-break: break-all;
	border-collapse: collapse;
	border-spacing: 0;
	letter-spacing: 0.1em;
	th,td {
		padding: 1em .8em .8em;
		font-weight: normal;
	}
	th {
		width: 30%;
	}
	td {
		width: 80%;
	}
}
.hov:hover{cursor: pointer;}
.no-link {pointer-events: none;}
.pconly{display:block !important;}
.sponly{display:none !important;}

/*.fa, .fab, .fad, .fal, .far, .fas {-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1;}*/
.fab {font-family: "Font Awesome 5 Brands";}
.fab {font-weight: 400;}
.fa-twitter:before {content: "\f099";}
.fa-instagram:before {content: "\f16d";}
.fa-facebook-f:before {content: "\f39e";}

@media screen and (max-width:800px) {
.pconly{display:none !important;}
.sponly{display:block !important;}
body {font-size: 0.8vw;overflow: hidden;}
}


@media screen and (max-width:650px) {
body {font-size: 3.1111vw;}
}

/*============================================================================================================================================
animations
============================================================================================================================================*/
.fadeIn,
.fadeInUp,
.fadeInUp2,
.fadeInDown {-webkit-animation-duration: 1.5s;animation-duration: 1.5s;}
.fadeInLeft,
.fadeInRight {-webkit-animation-duration: 1s;animation-duration: 1s;}
/* ------- delay ------ */
.delay02 {-webkit-animation-delay: .2s;animation-delay: .2s;}
.delay04 {-webkit-animation-delay: .4s;animation-delay: .4s;}
.delay06 {-webkit-animation-delay: .6s;animation-delay: .6s;}
.delay08 {-webkit-animation-delay: .8s;animation-delay: .8s;}
.delay10 {-webkit-animation-delay: 1s;animation-delay: 1s;}
.delay12 {-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
/* ------- animation基本設定 ------ */
.fadeIn.on-action {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
.fadeInUp.on-action {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.fadeInUp2.on-action {-webkit-animation-name: fadeInUp2;animation-name: fadeInUp2;}
.fadeInDown.on-action {-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}
.fadeInLeft.on-action {-webkit-animation-name: fadeInLeft;animation-name: fadeInLeft;}
.fadeInRight.on-action {-webkit-animation-name: fadeInRight;animation-name: fadeInRight;}
.fadeIn,
.fadeInDown,
.fadeInLeft,
.fadeInRight {-webkit-transition-timing-function: ease-in-out;transition-timing-function: ease-in-out;}
.fadeInUp,
.fadeInUp2 {-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);transition-timing-function: cubic-bezier(.215, .61, .355, 1);}
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes fadeInUp {
from {opacity: 0;-webkit-transform: translate3d(0, 50%, 0);transform: translate3d(0, 50%, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInUp {
from {opacity: 0;transform: translate3d(0, 50%, 0);}
to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInUp2 {
from {opacity: 0;-webkit-transform: translate3d(0, 50%, 0);transform: translate3d(0, 50%, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInUp2 {
from {opacity: 0;transform: translate3d(0, 50%, 0);}
to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInDown {
from {opacity: 0;-webkit-transform: translate3d(0, -30%, 0);transform: translate3d(0, -30%, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInDown {
from {opacity: 0;transform: translate3d(0, -30%, 0);}
to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInLeft {
from {opacity: 0;-webkit-transform: translate3d(-50%, 0, 0);transform: translate3d(-50%, 0, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInLeft {
from {opacity: 0;transform: translate3d(-50%, 0, 0);}
to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInRight {
from {opacity: 0;-webkit-transform: translate3d(50%, 0, 0);transform: translate3d(50%, 0, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInRight {
from {opacity: 0;transform: translate3d(50%, 0, 0);}
to {opacity: 1;transform: translate3d(0, 0, 0);}
}
.fadeIn,
.fadeInUp,
.fadeInUp2,
.fadeInDown,
.fadeInLeft,
.fadeInRight {visibility: hidden;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-play-state: paused;}
.fadeIn.on-action,
.fadeInUp.on-action,
.fadeInUp2.on-action,
.fadeInDown.on-action,
.fadeInLeft.on-action,
.fadeInRight.on-action {transform: none;visibility: visible;animation-play-state: running;-webkit-animation-fill-mode: both;animation-fill-mode: both;}

.shake {animation: shake 1s linear infinite alternate;}
@keyframes shake {
0%   { transform: rotate(0deg); }
16%   { transform: rotate(0deg); }
33%   { transform: rotate(0deg); }
49%   { transform: rotate(0deg); }
66%   { transform: rotate(-15deg); }
83%   { transform: rotate(0deg); }
100% { transform: rotate(-22.5deg); }
}

@-webkit-keyframes loopslider1 {
0% {transform: translateX(100%);}
100% {transform: translateX(-100%);}
}
@keyframes loopslider1 {
0% {transform: translateX(100%);}
100% {transform: translateX(-100%);}
}
@-webkit-keyframes loopslider2 {
0% {transform: translateX(0);}
100% {transform: translateX(-200%);}
}
@keyframes loopslider2 {
0% {transform: translateX(0);}
100% {transform: translateX(-200%);}
}
.loopslider {position: relative;display: flex;width: 100vw;overflow: hidden;}
.loopslider ul {padding: 0;width: 100vw;display: flex;flex-shrink: 0;}
.loopslider ul:first-child {animation: loopslider1 60s -30s linear infinite;}
.loopslider ul:last-child {animation: loopslider2 60s linear infinite;}
.loopslider ul li {display: inline-block;width: 100%;margin-right: 20px;list-style: none;text-align: center;}
.loopslider ul li img {display: block;width: 100%;height: auto;}
@media screen and (max-width:800px) {
.loopslider {width: 200vw;}
.loopslider ul {width: 200vw;}
.loopslider ul:first-child {}
.loopslider ul:last-child {}
.loopslider ul li {}
.loopslider ul li img {}
}

@-webkit-keyframes hov_line{
0%{width: 0;}
100%{width: 100%;}
}
@keyframes hov_line{
0%{width: 0;}
100%{width: 100%;}
}